<link rel="stylesheet" href="/public/css/styles.css" type="text/css" media="all" />

<%- include('../partials/navbar.ejs') %>
<h1>Login</h1>

<form action="/login" method="POST" style="display:flex;flex-direction:column;width:60%;">
  <label>Email</label>
  <input type="email" name="email" value="<%= fields.email %>" />
  <% if (errors.email) { %>
  <p style="color:red"><%- errors.email.msg %></p>
  <% } %>
  
  <label>Password</label>
  <input type="password" name="password" value="<%= fields.password %>" />
  <% if (errors.password) { %>
  <p style="color:red"><%- errors.password.msg %></p>
  <% } %>
  
  <br/>
  
  <button>Login</button>
</form>


<div>New User? <a href="/signup" id="signup">Sign up</a></div>